*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth ;
}
    /* background-color: #24252A; */
html{
    scroll-behavior: smooth ;
}
header{
    top: 0px;
    background-color: rgb(27, 33, 33);
    position: sticky;
    z-index: 1000;
}

li,a,button{
    
    /* position: sticky; */
    padding-inline: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}
/* .logo{
    width: 100px;
    height: 200px;
    height: 100vh;
    
} */
header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10px;


}
.logo{
    width: 100x;
    height: 100px;
    cursor: pointer;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    position: sticky;

}
.nav_links li a{
    transition: all 0.3s ease 0s ;

}
.nav_links li a:hover {
    color: rgb(255, 183, 0);

}

button{
    /* top: 0;
    position: fixed; */
    padding: 9px 25px;
    background-color: rgb(127, 0, 246);
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover{
    background-color:rgb(12, 111, 27)
}

#Home{
    /* display: flex; */
    /* position: relative; */
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-image: url(gym.jpg);
    background-attachment: fixed;
   
}
/* #Home::before{
    content: '';
   
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
   
    opacity: 0.35;
} */
    
h1{
    color: ghostwhite;
    font-size: 70px;
    text-align: center;
    padding-top: 40px;
    
}
h3{
    padding-inline: 5px;
   font-size: 55px;
   color: whitesmoke;
   padding-top: 190px;
   /* padding: 190px 150px; */
   text-align: center;
   text-shadow: #d46f10;
}
#join{
    font-size: 40px;
    font-weight: 200px;
    font-family: 'Times New Roman', Times, serif;
    left: 200px;
}
.main{
    text-align: center;
    padding-top: 40px;
}
#about{
    background-color: rgb(31, 31, 31);
    height: 110vh;
}
.h11{
    padding-top: 20px;
    font-size: 70px;
    text-align: center;
}
.abt{
    top: 900px;
    border-radius: 30px;
    background-color: rgb(53, 53, 53);
    position: absolute;
    padding-top: 30px;
    left: 46%;
    width: 52%;
    height: 75vh;
    font-size: 15px;
    color: #edf0f1;
    right: 20px;
}
.h22{
    padding-left: 40px;
    text-align:justify ;
    width: 96%;
    height: 80%;
    /* text-align: center; */
    padding-inline: 20px;
}
.id{
    top:455px;
    position: absolute;
    left: 37%;

}
.eq1{
    border-radius: 10px;
    padding-top: 50px;
   width: 30%;
   height: 300px;


}
img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.eq2{
    
    width: 45%;
    height: 270px;
    padding-left: 190px;
}
#Plans{
    background-image: url(gym1.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.p1{
    margin-top: 30px;
   margin-left: 150px;
   width: 35%;
   height: 67%;
   float: left;
   background-color:  #d1d3d4;
   border-radius: 20px;
   /* vertical-align: middle;
   display: inline-block; */
   
}
.h1{
  
    font-size: 40px;
    color: rgb(20, 20, 20);
}

.P1{
    font-family: 'Times New Roman', Times, serif;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    padding-top: 30px;
    font-weight: 25px;
    font-size: 25px;
   color: black;
}
.p2{
    font-family: 'Times New Roman', Times, serif;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    margin-top: 30px;
    margin-left: 200px;
    width: 35%;
    height: 67%;
    float: left;
    background-color: #d1d3d4;
    border-radius: 20px;
    /* vertical-align: middle;
    display: inline-block; */
    
    
 }
#contact{
    height: 110vh;
    background-color: rgb(18, 18, 18);
}
/* .h12{
;
} */
 .left{
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 40px;
    width: 35%;
    height: 65%;
    background-color: #242424;
    color: #edf0f1;
 }
.loc{
    
    padding-top: 120px;
    font-size: 20px;
    padding-left: 120px;
}
.locimg{
    cursor: pointer;
    position: absolute;
    margin-top:25px ;
    margin-left: 200px;
    background-image: url(loc.jpg);
    height: 70px;
    width: 70px;
    background-size: cover;
}
.emimg{
    cursor: pointer;
    position: absolute;
    margin-top:25px ;
    margin-left: 200px;
    background-image: url(email.jpg);
    height: 70px;
    width: 70px;
    background-size: cover;
}
.phnimg{
    cursor: pointer;
    position: absolute;
    margin-top:25px ;
    margin-left: 200px;
    background-image: url(Phone_icon.jpg);
    height: 70px;
    width: 70px;
    background-size: cover;
}
.em{
    padding-top: 120px;
    font-size: 20px;
    padding-left: 135px;
}
.phn{
    padding-top: 120px;
    font-size: 20px;
    padding-left: 180px;
}
/* .right{
    margin-top: -350px;
    float: right;
    width: 65%;
    height: 70%;
    background-color: #242424;
    color: #edf0f1;
 } */
 input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    color: #2a2a2a; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #ea071e;
    color: rgb(45, 45, 45);
    padding: 12px 20px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #0b8605;
  }
  

  .container {
    
    margin-top: -510px;
    margin-right: 20px;
    float: right;
    width: 55%;
    height: 87vh;
    border-radius: 5px;
    color: white;
    background-color: #282828;
    padding: 20px;
    top:300px;
  }
  #h{
    text-align: center;
    padding-top: 10px;
    color: whitesmoke;
  }
  #id{
     margin-left: 50px;
     margin-top: 10px;
  }
  #id:hover{
    color: #d46f10;
    transform: scale(1.05);
  }

  @media screen and (max-width:600px){
    header{
        top: 0px;
        background-color: rgb(27, 33, 33);
        position: sticky;
        z-index: 1000;
    }
    header{
        width: 50vh;
        height: 13vh;
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 15px 5px;
    
    
    }
    li,a,button{
    
        /* position: sticky; */
        padding-inline: 25px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #edf0f1;
        display: flex;
        text-decoration: none;
        
    }
    .logo{
        width: 280px;
        height: 150px;
        cursor: pointer;
        border-radius: 0px;
    }
    button{
        /* top: 0;
        position: fixed; */
        padding: 9px 20px;
        background-color: rgb(127, 0, 246);
        border: none;
        border-radius: 30px;
        cursor: pointer;
        
        transition: all 0.3s ease 0s;
    
    }
    #Home{
        /* display: flex; */
        /* position: relative; */
        justify-content: center;
        height: 90vh;
        width: 50vh;
        background-size: cover;
        background-image: url(gym.jpg);
        background-attachment: fixed;
       
    }
    h1{
        color: ghostwhite;
        font-size: 60px;
        text-align: center;
        padding-top: 40px;
        
    }
    h3{
        padding-inline: 5px;
       font-size: 40px;
       color: whitesmoke;
       padding-top: 190px;
       /* padding: 190px 150px; */
       text-align: center;
       text-shadow: #d46f10;
    }
    #join{
        
        font-size: 35px;
        font-weight: 200px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 120px;
        margin-top: 20px;
    }
    #headbtn{
        width: 150px;
    }
    #about{
        background-color: rgb(31, 31, 31);
        height: 95vh;
        width: 50vh;
    }
    .h11{
        padding-top: 20px;
        font-size: 60px;
        text-align: center;
    }
    .abt{
        margin-top: 400px;
        border-radius: 30px;
        background-color: rgb(53, 53, 53);
        position: absolute;
        padding-top: 30px;
        left: 9%;
        width: 97%;
        height: 43vh;
        font-size: 15px;
        color: #edf0f1;
        right: 20px;
    }
    .h22{
        margin-top: -15px;
        font-size: 13.5px;
        padding-left: 40px;
        text-align:justify ;
        width: 96%;
        height: 80%;
        /* text-align: center; */
        padding-inline: 20px;
    }
    .id{
        width: 175px;
        height: 30px;
        font-size: 8px;
        top:360px;
        position: absolute;
        left: 30%;
    
    }
    .eq1{
        border-radius: 10px;
        padding-top: 10px;
       width: 0%;
       height: 315px;
    
    
    }
    img{
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    .eq2{
        margin-top: -265px;
        width: 90%;
        height: 270px;
        padding-left: 38px;
    }
    #Plans{
        background-image: url(gym1.jpg);
        height: 90vh;
        width: 50vh;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .p1{
       font-size: 2px;
        margin-top: 20px;
       margin-left: 40px;
       width: 80%;
       height: 40%;
       float: left;
       background-color:  #d1d3d4;
       border-radius: 20px;
       /* vertical-align: middle;
       display: inline-block; */
       
    }
    .h1{
      
        font-size: 30px;
        color: rgb(20, 20, 20);
    }
    
    .P1{
        font-family: 'Times New Roman', Times, serif;
        /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
        padding-top: 30px;
        font-weight: 25px;
        font-size: 18px;
       color: black;
    }
    .p2{
        font-family: 'Times New Roman', Times, serif;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        margin-top: 30px;
        margin-left: 44px;
        width: 80%;
        height: 38%;
        float: left;
        background-color: #d1d3d4;
        border-radius: 20px;
        /* vertical-align: middle;
        display: inline-block; */
        
        
     }
     #contact{
        height: 120vh;
        width: 50vh;
        background-color: rgb(18, 18, 18);
    }
    /* .h12{
    ;
    } */
     .left{
        
        border-radius: 30px;
        margin-top: 650px;
        margin-left: 60px;
        width: 73%;
        height: 25%;
        background-color: #242424;
        color: #edf0f1;
        z-index: 9;
     }
    .loc{
        
        padding-top: 80px;
        font-size: 14px;
        padding-left: 60px;
    }
    .locimg{
        cursor: pointer;
        position: absolute;
        margin-top:25px ;
        margin-left: 150px;
        background-image: url(loc.jpg);
        height: 35px;
        width: 35px;
        background-size: cover;
    }
    .emimg{
        cursor: pointer;
        position: absolute;
        margin-top:25px ;
        margin-left: 150px;
        background-image: url(email.jpg);
        height: 35px;
        width: 35px;
        background-size: cover;
    }
    .phnimg{
        cursor: pointer;
        position: absolute;
        margin-top:25px ;
        margin-left: 145px;
        background-image: url(Phone_icon.jpg);
        height: 35px;
        width: 35px;
        background-size: cover;
    }
    .em{
        padding-top: 70px;
        font-size: 14px;
        padding-left: 80px;
    }
    .phn{
        padding-top: 68px;
        font-size: 14px;
        padding-left: 120px;
    }
    /* .right{
        margin-top: -350px;
        float: right;
        width: 65%;
        height: 70%;
        background-color: #242424;
        color: #edf0f1;
     } */
     input[type=text], select, textarea {
        width: 100%; 
        padding: 12px; 
        color: #2a2a2a; 
        border: 1px solid #ccc; 
        border-radius: 4px;
        box-sizing: border-box; 
        margin-top: 6px;
        margin-bottom: 16px; 
        resize: vertical 
      }
      #subject{
        height: 10vh;
      }
      
      
      input[type=submit] {
        background-color: #ea071e;
        color: rgb(45, 45, 45);
        padding: 12px 20px;
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
      }
      
      
      input[type=submit]:hover {
        background-color: #0b8605;
      }
      
    
      .container {
        
        margin-top: -870px;
     
        float: right;
        width: 85%;
        height: 63vh;
        border-radius: 5px;
        color: white;
        background-color: #282828;
        padding: 20px;
        top:300px;
      }
      #h{
        text-align: center;
        padding-top: 10px;
        color: whitesmoke;
      }
      #id{
         margin-left: 50px;
         margin-top: 10px;
      }
      #id:hover{
        color: #d46f10;
        transform: scale(1.05);
      }
    
  }

