*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth ;
}
header{
    background-color: rgb(1, 5, 19);
    height: 10px;
}
.back{
  width: 80px;
  height: 80px;
  background-color: rgb(220, 220, 220);

}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    color: rgb(30, 30, 30);
    text-align: center;
    font-size: 50px;
}
.abt{
    background-color: rgb(220, 220, 220);
    height: 90vh;
    
}
.abt1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: justify;
    width: 94%;
    margin-left: 15px;
    font-style: italic;
}
.box{
    margin-top: 60px;
    position: relative;
    padding-top: 20px;
    width: 60%;
    height: 45%;
    margin-left: 5%;
    background-color: aliceblue;
    height: 60vh;
    border-radius: 25px;
    display: flex;
   
}

.img1{
    width: 400px;
    height: 500px;
    margin-left: 300px;
    background-image: url(boy.jpg);
    background-size: cover;
    display: inline-block;
    margin-left: 70%;
    margin-top: -800px;
    border-radius: 20px;
    border-color: rgb(182, 251, 251);

}
#h1{
    color: rgb(233, 233, 233);
}
.img2{
    width: 500px;
    height: 400px;
    margin-left: 30px;
    background-image: url(lady.jpg);
    background-size: cover;
    border-radius: 20px;
    margin-left: 2%;
    margin-top: -400px;

}
.box1{
    margin-top: 60px;
    /* position: relative; */
    padding-top: 20px;
    width: 60%;
    height: 0px;
    margin-left: 37%;
    background-color: aliceblue;
    height: 65vh;
    border-radius: 25px;
    
   
}
.abt2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: justify;
    width: 94%;
    margin-left: 15px;
    font-style: italic;
}
#abt{ 
    background-color: rgb(1, 5, 19);
    height: 90vh;
}
